.header h1 {
  float: none;
  text-align: center;
}

.hid {
  margin-bottom: 0;
}

.main h5 {
  padding-top: 15rem;
}

.main h1 {
  font-size: 40px;
}
.item {
  float: none;
  text-align: center;
  padding: 10px;
}

.list {
  width: 100%;
  text-align: center;
}

.list a {
  text-align: center;
  padding-right: 8rem;
  border: 1px dotted white;
  padding: 0 20px;
  margin-top: 0;
}

.list a:hover {
  background-color: gold;
  color: black;
}

.btn {
  background-color: yellow;
  padding-top: 5px;
  margin-left: 90px;
  width: 200px;
  height: 50px;
  border: 2px solid transparent;
  border-radius: 24px;
  text-decoration: none;
  outline: none;
  font-size: 20px;
  font-weight: bold;
}

.btn:hover {
  background-color: orange;
  color: black;
}

.cont3 {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
.main3 {
  height: 1500px;
}

.s2 img {
  width: 368px;
  height: 301px;
  padding-right: 20px;
  margin: auto;
}
